name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with reports
        run: |
         pytest --html=report.html --self-contained-html
      - name: upload test report
        uses: actions/upload-artifact@v4
        with: 
         name: pytest-report
         path: report.html
