name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with reports
        run: |
          pytest --html=report.html --self-contained-html

      - name: upload test report
        uses: actions/upload-artifact@v4
        with: 
          name: pytest-report
          path: report.html

  notify:
    needs: [test]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Download test report artifact
        uses: actions/download-artifact@v4
        with:
          name: pytest-report
          path: ./report.html

      - name: send email notification
        uses: dawidd6/action-send-mail@v3
        with: 
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: GitHub Actions – Test Report
          to: chokri.gammoudi@gmail.com
          from: GitHub Actions
          body: |
            Bonjour Chokri,

            Veuillez trouver en pièce jointe le rapport de test
            généré automatiquement par GitHub Actions.

            Cordialement,
            CI Pipeline
          attachments: ./report.html
